
@model CupcakeriaOnline.Models.Cupcake_Pedido

@{
    ViewBag.Title = "Carrinho";
}

<h2>Carrinho de Compras</h2>

<p>
    @Html.ActionLink("Adicionar Outro", "CriarCupcake")
</p>
<table>
    <tr>
        <th>
            Massa
        <th>
            Recheio
        </th>
        <th>
            Cobertura
        </th>
        <th>
            Valor do Cupcake
        </th>
        <th>
            Quantidade
        </th>
        <th>
            Valor Total
        </th>
        <th></th>
    </tr>

   @foreach (var item in ViewBag.cupcakes)
   {
    <tr>
        <td>@item.Massa.descrMassa</td>
        
        <td>
            @item.Recheio.descrRecheio
        </td>
        <td>
            @item.Cobertura.descrCobertura
        </td>
        <td>
            @item.valorCupcake
        </td>
        <td>
            @item.qtdeItem
        </td>
        <td>
            @item.valorTotalCupcake
        </td>

    </tr>
   }

</table>

<b>Valor total do Pedido:</b><li>@ViewBag.total</li>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<fieldset>
    
    <p>
        <input type="submit" value="Fechar Pedido" />
    </p>

</fieldset>
}
