@model CupcakeriaOnline.Models.Cupcake_Pedido

@{
    ViewBag.Title = "Carrinho";
}

<h2 class="site-title">Carrinho de Compras</h2>

<p>
    @Html.ActionLink("Adicionar Outro", "CriarCupcake")
</p>
<table style="border: 1px black solid;">
    <tr style="border: 1px black solid">
        <th style="padding: 20px; text-align:center;">
            Massa
        </th>
        <th style="padding: 20px; text-align:center;">
            Recheio
        </th>
        <th style="padding: 20px; text-align:center;">
            Cobertura
        </th>
        <th style="padding: 20px; text-align:center;">
            Valor do Cupcake
        </th>
        <th style="padding: 20px; text-align:center;">
            Quantidade
        </th>
        <th style="padding: 20px; text-align:center;">
            Valor Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.cupcakes)
    {
        <tr style="border: 1px black solid">
            <td style="padding: 20px; text-align:center;">@item.Massa.descrMassa</td>

            <td style="padding: 20px; text-align:center;">
                @item.Recheio.descrRecheio
            </td>
            <td style="padding: 20px; text-align:center;">
                @item.Cobertura.descrCobertura
            </td>
            <td style="padding: 20px; text-align:center;">
                @item.valorCupcake
            </td>
            <td style="padding: 20px; text-align:center;">
                @item.qtdeItem
            </td>
            <td style="padding: 20px; text-align:center;">
                @item.valorTotalCupcake
            </td>
        </tr>
    }

</table>

<h3 style="font-weight:bolder; margin-top:20px">Valor total do Pedido:</h3>
<p>R$ @ViewBag.total</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>

        <p>
            <input type="submit" value="Fechar Pedido" />
        </p>

    </fieldset>
}
