@model CupcakeriaOnline.Models.PedidoModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PedidoModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.fk_idCliente, "Cliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("fk_idCliente", String.Empty)
            @Html.ValidationMessageFor(model => model.fk_idCliente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.statusPedido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.statusPedido)
            @Html.ValidationMessageFor(model => model.statusPedido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.vlrTotalPedido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.vlrTotalPedido)
            @Html.ValidationMessageFor(model => model.vlrTotalPedido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dataPedido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dataPedido)
            @Html.ValidationMessageFor(model => model.dataPedido)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
