@model CupcakeriaOnline.Models.PedidoModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PedidoModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cliente.nomeCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.nomeCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.statusPedido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.statusPedido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.vlrTotalPedido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.vlrTotalPedido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataPedido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataPedido)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
