@model CupcakeriaOnline.Models.PedidoModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>PedidoModel</legend>

    <div class="display-label">
         <b>Nome:</b>
    </div>
    <div class="display-field">
        @ViewBag.Cliente.nomeCliente
    </div>
    <div class="display-label">
        <b>Items do Pedido:</b>
    </div>
    <table>
        <tr>
            <th>
                Massa
            <th>
                Recheio
            </th>
            <th>
                Cobertura
            </th>
            <th>
                Valor do Cupcake
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Valor Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Cupcakes)
        {
            <tr>
                <td>@item.Massa.descrMassa</td>

                <td>
                    @item.Recheio.descrRecheio
                </td>
                <td>
                    @item.Cobertura.descrCobertura
                </td>
                <td>
                    @item.valorCupcake
                </td>
                <td>
                    @item.qtdeItem
                </td>
                <td>
                    @item.valorTotalCupcake
                </td>

            </tr>
        }

    </table>
    <div class="display-label">
        <b>Endereço de Entrega:</b>
    </div>
    <table style="border: 1px black solid;">
        <tr style="border: 1px black solid">
            <th style="padding: 20px; text-align:center;">
                Cep:
            </th>
            <th style="padding: 20px; text-align:center;">
                Logradouro:
            </th>
            <th style="padding: 20px; text-align:center;">
                Número:
            </th>
            <th style="padding: 20px; text-align:center;">
                Complemento:
            </th>
            <th style="padding: 20px; text-align:center;">
                Bairro:
            </th>
            <th style="padding: 20px; text-align:center;">
                Cidade:
            </th>
            <th></th>
        </tr>


        <tr style="border: 1px black solid">
            <td style="text-align:center">
                @ViewBag.Endereco.cepEndereco
            </td>
            <td style="text-align:center">
                @ViewBag.Endereco.logrEndereco
            </td>
            <td style="text-align:center">
                @ViewBag.Endereco.numEndereco
            </td>
            <td style="text-align:center">
                @ViewBag.Endereco.complEndereco
            </td>
            <td style="text-align:center">
                @ViewBag.Endereco.bairroEndereco
            </td>
            <td style="text-align:center">
                @ViewBag.Endereco.cidEndereco
            </td>
            <th></th>
        </tr>
        

    </table>

    <div class="display-label">
        <b>Status:</b>
    </div>
    <div class="display-field">
        @if (Model.statusPedido.Equals(false))
        {
            <div class="display-field">
                Em Andamento
            </div>
        }
        else
        {
            <div class="display-field">
                Fechado
            </div>
        }

    </div>

    <div class="display-label">
        <b>Valor Total do Pedido:</b>
    </div>
    <div class="display-field">
        <b>Data do Pedido:</b>
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataPedido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataPedido)
    </div>
</fieldset>
@if (User.Identity.Name != "Administrador") { 
<p>
    @Html.ActionLink("Voltar para Lista", "PedidosCliente")
</p>}else{
    @Html.ActionLink("Voltar para Lista", "Index")
    }
