@model IEnumerable<CupcakeriaOnline.Models.PedidoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.nomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vlrTotalPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataPedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.nomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vlrTotalPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataPedido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_idPedido }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_idPedido }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_idPedido })
        </td>
    </tr>
}

</table>
