@model IEnumerable<CupcakeriaOnline.Models.PedidoModel>

@{
    ViewBag.Title = "Seus Pedidos";
}

<h2>PedidosCliente</h2>
@if (ViewBag.AndamentoPedido == true)
{
    @Html.ActionLink("Continuar Pedido", "IniciarPedido")
}
else { 
<p>
    @Html.ActionLink("Iniciar Novo Pedido", "IniciarPedido")
</p>
    
}
<table>
    <tr>
        <th>
            <b>Status</b>
        </th>
        <th>
            <b>Valor Total:</b>
        </th>
        <th>
            <b>Data do Pedido</b>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.statusPedido.Equals(false)) { 
            <td>
                Em Andamento
            </td>
        }
        else
        {
            <td>
               Fechado
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.vlrTotalPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataPedido)
        </td>
        <td>
            
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.pk_idPedido })
        </td>
    </tr>
}

</table>
