@model CupcakeriaOnline.Models.EnderecoModel

@{
    ViewBag.Title = "Excluir Endereço";
}

<h2>Excluir Endereço</h2>

<h3>Tem certeza que deseja excluir este endereço?</h3>
<fieldset>
    <legend>EnderecoModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cliente.nomeCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.nomeCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cepEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cepEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.logrEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.logrEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.numEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.complEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.complEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bairroEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bairroEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cidEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cidEndereco)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
