@model CupcakeriaOnline.Models.EnderecoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EnderecoModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cliente.nomeCliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.nomeCliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cepEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cepEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.logrEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.logrEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.numEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.complEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.complEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bairroEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bairroEndereco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cidEndereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cidEndereco)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.pk_idEndereco }) |
    @Html.ActionLink("Back to List", "Index")
</p>
