@model IEnumerable<CupcakeriaOnline.Models.EnderecoModel>

@{
    ViewBag.Title = "Meus Endereços";
}

<h2 class="site-title">Meus Endereços</h2>

<table style="border: 1px black solid;">
    <tr style="border: 1px black solid">
        <th style="padding: 20px;">
            @Html.DisplayNameFor(model => model.cepEndereco)
        </th>
        <th style="padding: 20px;">
            @Html.DisplayNameFor(model => model.logrEndereco)
        </th>
        <th style="padding: 20px;">
            @Html.DisplayNameFor(model => model.numEndereco)
        </th>
        <th style="padding: 20px;">
            @Html.DisplayNameFor(model => model.complEndereco)
        </th>
        <th style="padding: 20px;">
            @Html.DisplayNameFor(model => model.bairroEndereco)
        </th>
        <th style="padding: 20px;">
            @Html.DisplayNameFor(model => model.cidEndereco)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border: 1px black solid">
            <td>
                @Html.DisplayFor(modelItem => item.cepEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logrEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bairroEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidEndereco)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.pk_idEndereco }) |
                @Html.ActionLink("Ver", "Details", new { id = item.pk_idEndereco }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.pk_idEndereco })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Criar", "Create", "Endereco") um novo endereço para entrega
</p>