@model CupcakeriaOnline.Models.ClienteModel

@{
    ViewBag.Title = "Meu Perfil";
}

<div style="position:relative; margin-top:auto; margin-left: auto;">

    <h2 class="site-title">Meu Perfil</h2>

    <fieldset>
        <div class="display-label" style="font-weight:bolder; margin-top:20px">
            @Html.DisplayNameFor(model => model.nomeCliente)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.nomeCliente)
        </div>

        <div class="display-label" style="font-weight:bolder; margin-top:20px">
            @Html.DisplayNameFor(model => model.dataNascCliente)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.dataNascCliente)
        </div>

        <div class="display-label" style="font-weight:bolder; margin-top:20px">
            @Html.DisplayNameFor(model => model.telCliente)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.telCliente)
        </div>

        <div class="display-label" style="font-weight:bolder; margin-top:20px">
            @Html.DisplayNameFor(model => model.emailCliente)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.emailCliente)
        </div>
    </fieldset>
    <h3 style="margin-top: 30px">
        @Html.ActionLink("Editar Perfil", "Edit", new { id = Model.pk_idCliente })
    </h3>
</div>