@model CupcakeriaOnline.Models.ClienteModel

@{
    ViewBag.Title = "Editar Perfil";
}

<div style="position:relative; margin-top:auto; margin-left: auto;">
    <h2>Editar Perfil</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            @Html.HiddenFor(model => model.pk_idCliente)
            @Html.HiddenFor(model => model.emailCliente)
            @Html.HiddenFor(model => model.loginUsuSenha)
            @Html.HiddenFor(model => model.loginUsuSalt)

            <div class="editor-label">
                @Html.LabelFor(model => model.nomeCliente)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nomeCliente)
                @Html.ValidationMessageFor(model => model.nomeCliente)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.dataNascCliente)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.dataNascCliente)
                @Html.ValidationMessageFor(model => model.dataNascCliente)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.telCliente)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.telCliente)
                @Html.ValidationMessageFor(model => model.telCliente)
            </div>

            <p>
                <input type="submit" value="Gravar" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>