@model CupcakeriaOnline.Models.ClienteModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ClienteModel</legend>

        @Html.HiddenFor(model => model.pk_idCliente)

        <div class="editor-label">
            @Html.LabelFor(model => model.nomeCliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomeCliente)
            @Html.ValidationMessageFor(model => model.nomeCliente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dataNascCliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dataNascCliente)
            @Html.ValidationMessageFor(model => model.dataNascCliente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telCliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telCliente)
            @Html.ValidationMessageFor(model => model.telCliente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emailCliente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emailCliente)
            @Html.ValidationMessageFor(model => model.emailCliente)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
