<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.Identity.Name == "Administrador")
                        {
                            <p class="site-title">@Html.ActionLink("Cupcakeria", "Index", "Administracao")</p>
                        }
                        else
                        {
                            <p class="site-title">@Html.ActionLink("Cupcakeria", "Index", "Cliente")</p>
                        }
                    }
                    else
                    {
                        <p class="site-title">@Html.ActionLink("Cupcakeria", "Index", "Home")</p>
                    }
                    
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
@if (Request.IsAuthenticated)
{
    if (User.Identity.Name != "Administrador") { 
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Página inicial", "Index", "Cliente")</li>
                            <li>@Html.ActionLink("Pedidos", "Index", "Pedido")</li>
                            <li>@Html.ActionLink("Endereços", "Index", "Endereco")</li>
                        </ul>
                    </nav>
    }
    else
    {
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Massas", "Index", "Massa")</li>
                <li>@Html.ActionLink("Recheios", "Index", "Recheio")</li>
                <li>@Html.ActionLink("Coberturas", "Index", "Cobertura")</li>
                <li>@Html.ActionLink("Relatórios", "Index", "Administracao")</li>
            </ul>
        </nav>
    }
}
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
