@model CupcakeriaOnline.Models.CoberturaModel

@{
    ViewBag.Title = "Criar do Arquivo";
}

@ViewBag.Message

<h2 class="site-title">Nova cobertura</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin-top:20px">
        <div class="editor-label">
            @Html.LabelFor(model => model.descrCobertura)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.descrCobertura, new {@Value = ViewBag.descricao})
            @Html.ValidationMessageFor(model => model.descrCobertura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.valorUnitCobertura)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.valorUnitCobertura, new { @Value = ViewBag.valor })
            @Html.ValidationMessageFor(model => model.valorUnitCobertura)
        </div>

        <!--<div class="editor-label">
            @Html.HiddenFor(model => model.dtCadastroCobertura)
        </div>-->
        <div class="editor-field">
            @Html.HiddenFor(model => model.dtCadastroCobertura, new { @Value = System.DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss tt") })
            @Html.ValidationMessageFor(model => model.dtCadastroCobertura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dispCobertura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dispCobertura, new { @Value = ViewBag.disp })
            @Html.ValidationMessageFor(model => model.dispCobertura)
        </div>
        <p>
            <input type="submit" value="Gravar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    <!--<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/validations_pt-br")"></script>-->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validations_pt-br")

}
