@model CupcakeriaOnline.Models.CoberturaModel

@{
    ViewBag.Title = "Delete";
}

<h2 class="site-title">Confirmar exclusão de cobertura</h2>

<h3>Excluir esta cobertura?</h3>

<fieldset>
    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.valorUnitCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valorUnitCobertura)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.descrCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descrCobertura)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.dtCadastroCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dtCadastroCobertura)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.dispCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dispCobertura)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
