@model CupcakeriaOnline.Models.CoberturaModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CoberturaModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.valorUnitCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valorUnitCobertura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descrCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descrCobertura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dtCadastroCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dtCadastroCobertura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dispCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dispCobertura)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
