@model CupcakeriaOnline.Models.CoberturaModel

@{
    ViewBag.Title = "Details";
}

<h2 class="site-title">Detalhes da Cobertura</h2>

<fieldset style="margin-top:20px">
    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.descrCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descrCobertura)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.valorUnitCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valorUnitCobertura)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.dtCadastroCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dtCadastroCobertura)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.dispCobertura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dispCobertura)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar cobertura", "Edit", new { id = Model.pk_idCobertura }) |
    @Html.ActionLink("Voltar", "Index")
</p>
