@model IEnumerable<CupcakeriaOnline.Models.CoberturaModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="site-title">Coberturas cadastradas</h2>

<table style="border: 1px black solid;">
    <tr style="border: 1px black solid">
        <th style="padding: 20px; text-align:center;">
            @Html.DisplayNameFor(model => model.descrCobertura)
        </th>
        <th style="padding: 20px; text-align:center;">
            @Html.DisplayNameFor(model => model.valorUnitCobertura)
        </th>

        <th style="padding: 20px; text-align:center;">
            @Html.DisplayNameFor(model => model.dtCadastroCobertura)
        </th>
        <th style="padding: 20px; text-align:center;">
            @Html.DisplayNameFor(model => model.dispCobertura)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border: 1px black solid">
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.descrCobertura)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.valorUnitCobertura)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.dtCadastroCobertura)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.dispCobertura)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.pk_idCobertura }) |
                @Html.ActionLink("Ver", "Details", new { id = item.pk_idCobertura }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.pk_idCobertura })
            </td>
        </tr>
    }
</table>

<h3>
    @Html.ActionLink("Cadastrar nova cobertura", "Create", "Cobertura")
    @Html.ActionLink("Cadastrar nova cobertura com arquivo", "UploadDeArquivo", "Cobertura")
</h3>