@model CupcakeriaOnline.Models.MassaModel

@{
    ViewBag.Title = "Delete";
}

<h2 class="site-title">Confirmar exclusão de massa</h2>

<h3>Excluir esta massa?</h3>

<fieldset>
    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.descrMassa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descrMassa)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.valorUnitMassa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valorUnitMassa)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.dtCadastroMassa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dtCadastroMassa)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.dispMassa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dispMassa)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
