@model CupcakeriaOnline.Models.MassaModel

@{
    ViewBag.Title = "Details";
}

<h2 class="site-title">Detalhes da Massa</h2>

<fieldset style="margin-top:20px">
    <div class="display-label" style="font-weight:bolder; margin-top:20px">
         @Html.DisplayNameFor(model => model.descrMassa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descrMassa)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.valorUnitMassa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.valorUnitMassa)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.dtCadastroMassa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dtCadastroMassa)
    </div>

    <div class="display-label" style="font-weight:bolder; margin-top:20px">
        @Html.DisplayNameFor(model => model.dispMassa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dispMassa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar massa", "Edit", new { id=Model.pk_idMassa }) |
    @Html.ActionLink("Voltar", "Index")
</p>
