@model CupcakeriaOnline.Models.MassaModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="site-title">Editar Massa</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="margin-top:20px">
        @Html.HiddenFor(model => model.pk_idMassa)

        <div class="editor-label">
            @Html.LabelFor(model => model.descrMassa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descrMassa)
            @Html.ValidationMessageFor(model => model.descrMassa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.valorUnitMassa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.valorUnitMassa)
            @Html.ValidationMessageFor(model => model.valorUnitMassa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dtCadastroMassa, new { @readonly = "readonly" })
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dtCadastroMassa)
            @Html.ValidationMessageFor(model => model.dtCadastroMassa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dispMassa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dispMassa)
            @Html.ValidationMessageFor(model => model.dispMassa)
        </div>
        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validations_pt-br")
}
