@model CupcakeriaOnline.Models.AdministracaoModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AdministracaoModel</legend>

        @Html.HiddenFor(model => model.pk_idAdministracao)

        <div class="editor-label">
            @Html.LabelFor(model => model.loginAdmSenha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.loginAdmSenha)
            @Html.ValidationMessageFor(model => model.loginAdmSenha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.loginAdmSalt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.loginAdmSalt)
            @Html.ValidationMessageFor(model => model.loginAdmSalt)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
